*{
    margin: 0;
    padding: 0;
}


/* Navigationbar */
#navbar{
    display:flex;
    align-items: center;
    
    font-family: 'Times New Roman', Times, serif;

}
/* Navigation bar:Image */
#logo{
    margin: 10px,10px;

}
#logo img{
    height:50px;
    margin: 10px 10px;
}
#navbar{
    position: absolute;
    
}
#navbar::before{
    content: "";
    /* background-color:  brown ; */
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}
/* Navigation bar: List styling*/
#navbar ul{
   /* display: flex; */
   display: flex;
   
   
}

#navbar ul li{
    padding: 2px 25px;
    list-style: none;
    font-size: 1rem; 
}
#navbar ul li a{
    color:white;
    display:flex;
    padding:2px 15px ;
    border-radius :20px;
    text-decoration: none;
    border: 3px solid black;  
    margin :15px;  
    justify-content: flex-end;
}
#navbar ul li a:hover{
   color:black;
   background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 640px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position:absolute;
    background:url(bg.jpeg) no-repeat;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0px;
    left: 0px;
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif',serif;
    
}
#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif',serif;
}
/* Services section */
#services{
    margin:34px;
    display:flex;

}
#services .box{
    border: 2px solid brown;
    border-radius: 10px;
    margin-right: 10px;
    background: rgb(238, 232, 232);
    /* margin: 150px; */
}
#services .box img{
    
    width:150px;
    display:block;
    margin:auto;

}
#services .box p{
    font-family:'serif';
}

/* clients section */
#client-section{
    height: 251px;
    
}

#client-section::before{
   content: "";
   position:absolute;
   background: url("bgclient.jpeg") ;
   width: 100%;
   height: 34%;
   z-index: -1;
   opacity: 0.5 ;
   
}

.h-primary center{
padding :100px;
}
#clients{
    display:flex;
    justify-content:center;
    align-items: center;
}
.client-item{
    padding:10px;
}
#clients img{
    height: 80px;
    padding:10px;
    }


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position:absolute;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: 0.7;
    background: url("contactus.jpg") no-repeat center center/cover;

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}
#contact-box textarea{
    width: 100%;
    padding:1.1rem;
    border-radius: 15px;

}
#contact-box input {
    border-radius: 5px;
    width: 100%;
    height: 28px;
    font-size: 1.5rem;
}
#contact-box form{
    width:40%;
   
}
#contact-box label{
    font-size:1.3rem;
    font-family: sans-serif;
    
}
footer{
    background: black;
    color:white
}

/* utility classes */
.h-primary {
    font-family: 'Bree Serif',serif;
    font-size: 3.5rem;
    padding-top: 25px;
    
}
.h-secondary{
    font-family: 'Bree Serif',serif;
    font-size: 2.3rem;
    padding: 12px;
}
.btn1{
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 20px;
    color:white;
    background-color:salmon;
    margin:11px;
    font-size: 1rem;
    cursor:pointer;
}
.btn1:hover{
   
    color:salmon;
    background-color:white;
    font-size: 1rem;
}
/* center */
.center{
    text-align: center;
}
